<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Need a system based solution, or want to automate things up?</h2>
        <hr class="light" />
        <p class="text-faded">
          We make smart solution that automate complicated jobs and make it easy to manage and monitor.
          the system that we make are based on linux with current technology. for security and cominication.
          and ready for embedded devices.
        </p>
        <a
          href="#"
          class="btn btn-default btn-xl"
          >Coming Soon</a
        >
      </div>
    </div>
  </div>
</section>
