<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Belaoura Yacoub Co. Solutions</h1>
            <hr>
            <p>Systems and Software smart solutions</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
